body {
    background-color: white;
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
    font-family: arial;
    color: black;
}
a:hover { 
    color: #1e8fd7;
    text-decoration: none;
}
p {
    font-family: arial;
}
hr {
    margin: 7px 0px 7px 0px;
}
* {
  border-radius: 0 !important;
}

#base {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
#header{
    position: relative;
}
#headerstrip {
    position: relative;
    width: 100%; height: 50px;
    top: 0px;
    border-style: solid;
    border-color: white;
    border: 0px;
    background-color: #202121; 
} 
#headerlogo {
    position: absolute;
    float: left;
    top: 15%;
    left: 2%;
}
#headersignin {
    position: absolute;
    float: right;
    color: white;
    font-family: arial;
    top: 20%;
    right: 2%;
}
#headersignin p{
    float: left;
    margin-top: 7px;
    margin-bottom: 0px;
    margin-right: 20px;
    font-size: 14px;
    color: white;
}
#mainmenu {
    position: relative;
    display: table-cell;   
    vertical-align: middle;
    padding-top: 10px;
    font-size: 14px;
}
#mainmenu ul {
    padding-left: 2px;
}
#mainmenu li {
    list-style-type: none;
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 17px;
    padding-bottom: 17px;
}
.active {
    border-bottom: 2px solid #1e8fd7;
}

#content {
    min-height: 700px;
}

#footer{
    position: relative;
    margin-top: 10px;
}
#footerstrip {
    position: relative;
    width: 100%; height: 50px;
    top: 0px;
    border-style: solid;
    border-color: white;
    border: 0px;
    background-color: #202121; 
} 
#footerlogo {
    position: absolute;
    float: left;
    top: 15%;
    left: 2%;
}
#backtotop {
    position: absolute;
    float: right;
    color: white;
    font-family: arial;
    top: 0%;
    right: 0%;
}
#footerarea {
    position: relative;
    width: 100%;
    top: 0px;
    border-style: solid;
    border-color: white;
    border: 0px;
    background-color: #3b3b3b;
}
#footerinfo {
    position: relative;
    margin: 0% 15% 0% 15%;
}
#footerinfo p {
    padding-top: 3%;
    margin: 0px;
    color: #adadad;
    text-align: center;
    vertical-align: middle;
}
#footerdivider {
    position: relative;
    margin: 0% 5% 0% 5%;
    padding-top: 2%;
    text-align: center;
}
#footercontact p {
    padding-top: 1%;
    padding-bottom: 2%;
    margin: 0px;
    color: #adadad;
    text-align: center;
    vertical-align: middle;
}

#layout {
    position: relative;
}
.registration-container {
    position: relative;
    width: 500px;
    left: 250px;
}
#registration-submit {
    position: relative;
    width: 50%;
    left: 25%;
    text-align: center;
}
#welcome {
    position: relative;
    width: 500px;
    left: 250px;    
}
#welcome img {
    position: relative;
    left: 225px;
    margin: 10px 0px 10px 0px;
}