body {
    background-color: white;
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
    font-family: arial;
    color: black;
}
a:hover { 
    color: #1e8fd7;
    text-decoration: none;
}
p {
    font-family: arial;
    text-align: justify;
}
hr {
    margin: 7px 0px 7px 0px;
}
* {
  border-radius: 0 !important;
}

#base {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
#header{
    position: relative;
}
#headerstrip {
    position: relative;
    width: 100%; height: 50px;
    top: 0px;
    border-style: solid;
    border-color: white;
    border: 0px;
    background-color: #202121; 
} 
#headerlogo {
    position: absolute;
    float: left;
    top: 15%;
    left: 2%;
}
#headersignin {
    position: absolute;
    float: right;
    color: white;
    font-family: arial;
    top: 20%;
    right: 2%;
}
#headersignin p{
    float: left;
    margin-top: 7px;
    margin-bottom: 0px;
    margin-right: 20px;
    font-size: 14px;
    color: white;
}
#headercompetition {
    position: absolute;
    float: right;
    color: white;
    font-family: arial;
    top: 20%;
    right: 20%;
}
#headercompetition p{
    float: left;
    margin-top: 7px;
    margin-bottom: 0px;
    margin-right: 15px;
    font-size: 14px;
    color: white;
}
#mainmenu {
    position: relative;
    display: table-cell;   
    vertical-align: middle;
    padding-top: 10px;
    font-size: 14px;
}
#mainmenu ul {
    padding-left: 2px;
}
#mainmenu li {
    list-style-type: none;
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 17px;
    padding-bottom: 17px;
}
.active {
    border-bottom: 2px solid #1e8fd7;
}

#content {
    min-height: 700px;
}

#footer{
    position: relative;
    margin-top: 10px;
}
#footerstrip {
    position: relative;
    width: 100%; height: 50px;
    top: 0px;
    border-style: solid;
    border-color: white;
    border: 0px;
    background-color: #202121; 
} 
#footerlogo {
    position: absolute;
    float: left;
    top: 15%;
    left: 2%;
}
#backtotop {
    position: absolute;
    float: right;
    color: white;
    font-family: arial;
    top: 0%;
    right: 0%;
}
#footerarea {
    position: relative;
    width: 100%;
    top: 0px;
    border-style: solid;
    border-color: white;
    border: 0px;
    background-color: #3b3b3b;
}
#footerinfo {
    position: relative;
    margin: 0% 15% 0% 15%;
}
#footerinfo p {
    padding-top: 3%;
    margin: 0px;
    color: #adadad;
    text-align: center;
    vertical-align: middle;
}
#footerdivider {
    position: relative;
    margin: 0% 5% 0% 5%;
    padding-top: 2%;
    text-align: center;
}
#footercontact p {
    padding-top: 1%;
    padding-bottom: 2%;
    margin: 0px;
    color: #adadad;
    text-align: center;
    vertical-align: middle;
}

#layout {
    position: relative;
}
.registration-container {
    position: relative;
    width: 500px;
    left: 250px;
}
#registration-submit {
    position: relative;
    width: 50%;
    left: 25%;
    text-align: center;
}
#welcome {
    position: relative;
    width: 500px;
    left: 250px;
}
#welcome img {
    position: relative;
    left: 225px;
    margin: 10px 0px 10px 0px;
}
#prices img {
    position: relative;
    left: 10px;
    margin: 10px 0px 10px 0px;
}
#rank {
    position: relative;
    width: 600px;
    left: 200px;
}

#articles {
    position: relative;
    width: 100%;
}
#articles_img{
    position: relative;
    width: 200px;
    height: 150px;
}
#articles_img img{
    width: 200px;
}
#articles_text {
    position: absolute;
    left: 200px;
    top: 0px;
    margin: 0px 10px 0px 10px;
}
#articles_title {
    position: relative;
}
#articles_description {
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 6.0em;
}
#articles_strip {
    position: relative;
    width: 100%; height: 50px;
    top: 0px;
    border-style: solid;
    border-color: white;
    border: 0px;
    margin: 5px 0px 5px 0px;
    background-color: #5ab1e8; 
}
#articles_strip_one {
    position: absolute;
    width: 900px;
    float: left;
    top: 30%;
    left: 2%;
    font-size: 16px;
}
#articles_strip_two {
    position: absolute;
    width: 900px;
    float: left;
    top: 8%;
    left: 2%;
    font-size: 16px;
}
#articles_strip_text a{
    color: #202121;
}
#articles_strip_text a:hover{
    color: #156394;
}
#articles_strip_category {
    position: absolute;
    float: right;
    right: 0%;
}
#article {
    position: relative;
    width: 70%;
    text-align: justify;
}

#questionnaire {
    position: absolute;
    float: right;
    right: 0%;
    top: 80%;
}
#submit {
    position: relative;
    width: 30%;
    left: 40%;
}
input[type='checkbox'] {
    width:25px;
    height:25px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -2px;
}
input[type='checkbox']:checked {
    background: #abd;
}